[submodule "vendor/github.com/docker/libkv"]
	path = vendor/github.com/docker/libkv
	url = https://github.com/docker/libkv.git
[submodule "vendor/github.com/abiosoft/ishell"]
	path = vendor/github.com/abiosoft/ishell
	url = https://github.com/abiosoft/ishell.git
[submodule "vendor/github.com/romana/rlog"]
	path = vendor/github.com/romana/rlog
	url = https://github.com/romana/rlog.git
[submodule "vendor/github.com/chzyer/readline"]
	path = vendor/github.com/chzyer/readline
	url = https://github.com/chzyer/readline.git
